@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@Model  Purchase


<h2> Check out now </h2>
<p>Please enter your details</p>

<form method="post ">

</form>